<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Document responsive across devices. -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<title>Eat-Da-Burger</title>
</head>
	<body>
		{{{ body }}}
	</body>
</html>